@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.row-buttons {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
}

button {
  margin: 5vh 5vh;
  padding: 2vh 4vh;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.container {
  margin-top: 10vh;
}
